@font-face {
    font-family: "Pokemon_Classic" ;
    src: url("../font/Pokemon_Classic.ttf");
}

#lecteur{
    width: 100%;
    background: linear-gradient(darkblue, purple);
}




#slider img {
    vertical-align: bottom;
}


#slider {
    overflow: hidden;
    position: relative;
    font-family: "Pokemon_Classic" ;
display: flex;
justify-content: center;
align-items: center;
    color: rgb(44, 233, 27);
    width: 100%;
    font-size: 2em;

}

#imageA,
#texteA,
#imageB,
#texteB {
    position: absolute;



}

#imageA,
#imageB {

    width: 100%;
}

.trans{
        transition:  all .5s  ;
}

.swipeLeft {
  
    transform: translateX(-100%);
}

.swipeRight{
    transform: translateX(100%);
}

.swipeTop{
    transform: translateY(-100%);
}

.swipeDown{
    transform: translateY(100%);
}

.fadeOut{
    opacity: 0;
}

#bouton{
width: 100%;
margin-top: 5%;
display: flex;
justify-content: center;
justify-content: space-around;

}


#bouton img{
    width: 100px;
    height: 100px;
}


#bouton2{
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
   
    
    }

    #bouton2 img{
      
        width: 100px;
        height: 100px;
    }

#time{
    font-family: "Pokemon_Classic" ;
    width: 100%;
    border: red solid;
    display: flex;
    justify-content: center;
    font-size: 3em;
    
}

